@page
@model MySongModel
@{
    ViewData["Title"] = "MySong Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"><b>Inthandham song from SITA-RAMAM movie</b></h1>
    <div>
      <div>
        <span style="font-size: medium">Inthandham dhaari mallindhaa</span>
      </div>
      <div>
        <span style="font-size: medium">Bhoomipaike cherukunnadhaa</span>
      </div>
      <div><span style="font-size: medium">Lekunte chekki untaara</span></div>
      <div>
        <span style="font-size: medium">Achchu neelaa shilpa sampadaa</span>
      </div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Jagatthu choodani</span></div>
      <div><span style="font-size: medium">Mahatthu needheley</span></div>
      <div><span style="font-size: medium">Nee navvu thaake</span></div>
      <div><span style="font-size: medium">Tharinche thapassilaa</span></div>
      <div><span style="font-size: medium">Nisheedhu lanni</span></div>
      <div>
        <span style="font-size: medium">Thalonche thushaaraanivaa</span>
      </div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Needhey veloo thaaki</span></div>
      <div><span style="font-size: medium">Nele inchu paiki</span></div>
      <div><span style="font-size: medium">Thele vintha vaikhari</span></div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Veede veelu leni</span></div>
      <div><span style="font-size: medium">Edho maaya loki</span></div>
      <div><span style="font-size: medium">Laage pilla themparee</span></div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Nadhilaa dhooketi</span></div>
      <div><span style="font-size: medium">Nee paita sahaja gunaam</span></div>
      <div><span style="font-size: medium">Pulilaa dhaagundi</span></div>
      <div><span style="font-size: medium">Vetaade paduchudhanam</span></div>
      <div>
        <span style="font-size: medium">Daasohamandhinaa prapanchame</span>
      </div>
      <div><span style="font-size: medium">Adhantha nee dhaye</span></div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Chilake koka qatti</span></div>
      <div><span style="font-size: medium">Ninne chuttumutti</span></div>
      <div><span style="font-size: medium">Seethaakokalaayenaa</span></div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Ville ekkupetti</span></div>
      <div><span style="font-size: medium">Mello thaali katti</span></div>
      <div><span style="font-size: medium">Maralaa raamudavvanaa</span></div>
      <div>
        <span style="font-size: medium"><br /></span>
      </div>
      <div><span style="font-size: medium">Andham nee inta</span></div>
      <div><span style="font-size: medium">Chesthondhaa oodigame</span></div>
      <div><span style="font-size: medium">Yuddham chaatindhi</span></div>
      <div><span style="font-size: medium">Nee paina ee jagame</span></div>
      <div>
        <span style="font-size: medium">Dhasoyamadhi naa prapanchame</span>
      </div>
      <div><span style="font-size: medium">Adhantha nee dhaye</span></div>
    </div>
</div>
